<div class="footer">
  <div class="footer-info-container">
    <div class="footer-logo">
      <%= image_tag 'colcranes-footer-logo.png' %>
    </div>
    <div class="footer-info">
      <div class="paginas">
        <p class="footer-info-header">PAGINAS</p>
        <%= link_to about_path do %>
          <p style="font-size: 12px;">Acerca</p>
        <% end %>
        <%= link_to contacts_path do %>
          <p style="font-size: 12px;">Contacto</p>
        <% end %>
        <%= link_to services_path do %>
          <p style="font-size: 12px;">Servicios</p>
        <% end %>
      </div>
      <div class="contacto">
        <p class="footer-info-header">CONTACTO</p>
        <p style="font-size: 12px;">contacto@colcranes.com</p>
        <p style="font-size: 12px;">Carrera 20 no. 23-123</p>
        <p style="font-size: 12px;">Barranquilla, Colombia</p>
      </div>
    </div>
  </div>
  <div class="foter-info-container-mobile">
    <%= image_tag 'colcranes-footer-logo-mobile.png', height: 100; %>
    <p>contacto@colcranes.com</p>
    <p></p>
  </div>
</div>
<div class="seo">
  <p>Desarrollado por: <%= link_to 'Hoxton Digital', 'https://www.hoxton-digital.com', target: "_blank" %></p>
</div>
