<div class="about-banner">
  <div class="about-banner-content-margin" style="margin: 30px">
    <div class="container">
      <div class="about-banner-content">
        <div class="moshe-image-div">
          <%= image_tag 'moshe.png', class: "moshe-image" %>
        </div>
        <div class="about-banner-info">
          <div class="about-banner-info-top">
            <div>
              <h6 style="margin: 0;">Moshe</h6>
              <h6>Schmulson</h6>
              <p style="font-size: 18px;">Direccion Comercial</p>
              <hr>
            </div>
            <p>5 anños de experiencia en adminisitracion de bienes industriales</p>
          </div>
          <div class="about-banner-info-bottom">
            <p>Colcranes fue constituida en el ano 2007 por un grupo de empresarios industriales del sector metalurgico.</p>
            <p>Al reunir su experiencia comformaron Colcranes con el fin de proveer un espacio comercial en el cual instalaran y daran mantenimeinto a puentes grua en bodegas industrial en el sector caribe Colombiano.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="about-banner-content-mobile">
  <div class="container">
    <div class="about-banner-info-mobile">
      <div class="about-banner-info-top-mobile">
        <div>
          <h6 style="margin: 0;">Moshe</h6>
          <h6>Schmulson</h6>
          <p style="font-size: 18px;">Direccion Comercial</p>
          <hr>
        </div>
        <p>5 anños de experiencia en adminisitracion de bienes industriales</p>
      </div>
      <div class="about-banner-info-bottom-mobile">
        <p>Colcranes fue constituida en el ano 2007 por un grupo de empresarios industriales del sector metalurgico.</p>
        <p>Al reunir su experiencia comformaron Colcranes con el fin de proveer un espacio comercial en el cual instalaran y daran mantenimeinto a puentes grua en bodegas industrial en el sector caribe Colombiano.</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="about-wrapper">
    <h6>Historia</h6>
    <p>Colcranes fue constituida en el ano 2007 por un grupo de empresarios industriales del sector metalurgico.</p>
    <p>Al reunir su experiencia comformaron Colcranes con el fin de proveer un espacio comercial en el cual instalaran y daran mantenimeinto a puentes grua en bodegas industrial en el sector caribe Colombiano.Al reunir su experiencia comformaron Colcranes con el fin de proveer un espacio comercial en el cual instalaran y daran mantenimeinto a puentes grua en bodegas industrial en el sector caribe Colombiano.</p>
    <p>Al reunir su experiencia comformaron Colcranes con el fin de proveer un espacio comercial en el cual instalaran y daran mantenimeinto a puentes grua en bodegas industrial en el sector caribe Colombiano.</p>
  </div>
  <div class="about-wrapper">
    <h6>Equipo</h6>
    <p>Colcranes fue constituida en el ano 2007 por un grupo de empresarios industriales del sector metalurgico.</p>
    <p>Al reunir su experiencia comformaron Colcranes con el fin de proveer un espacio comercial en el cual instalaran y daran mantenimeinto a puentes grua en bodegas industrial en el sector caribe Colombiano.Al reunir su experiencia comformaron Colcranes con el fin de proveer un espacio comercial en el cual instalaran y daran mantenimeinto a puentes grua en bodegas industrial en el sector caribe Colombiano.</p>
    <p>Al reunir su experiencia comformaron Colcranes con el fin de proveer un espacio comercial en el cual instalaran y daran mantenimeinto a puentes grua en bodegas industrial en el sector caribe Colombiano.</p>
  </div>
</div>
<div class="container">
  <div class="about-wrapper" style="margin-bottom: 0;">
    <h6>Nuestro Aliados</h6>
  </div>
</div>
<p class="marquee">
  <span><%= image_tag 'citi-logo.png', class: "marquee-logos" %></span>
  <span><%= image_tag 'citi-logo.png', class: "marquee-logos" %></span>
  <span><%= image_tag 'citi-logo.png', class: "marquee-logos" %></span>
  <span><%= image_tag 'citi-logo.png', class: "marquee-logos" %></span>
  <span><%= image_tag 'citi-logo.png', class: "marquee-logos" %></span>
  <span><%= image_tag 'citi-logo.png', class: "marquee-logos" %></span>
  <span><%= image_tag 'citi-logo.png', class: "marquee-logos" %></span>
  <span><%= image_tag 'citi-logo.png', class: "marquee-logos" %></span>
  <span><%= image_tag 'citi-logo.png', class: "marquee-logos" %></span>
  <span><%= image_tag 'citi-logo.png', class: "marquee-logos" %></span>
</p>
