<div class="about-banner">
  <div class="about-banner-content-margin" style="margin: 30px">
    <div class="container">
      <div class="about-banner-content">
        <h4>Nuestro Equipo</h4>
        <%= cl_image_tag 'https://res.cloudinary.com/hoxton-digital/image/upload/v1558609258/Colcranes/equipo-colcranes.jpg' %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="about-wrapper">
    <h6>Nosotros</h6>
    <p>
      <b>COLCRANES SAS</b> es una empresa 100% colombiana dedicada a brindar soluciones desde el cálculo, diseño, fabricación y puesta en marcha de polipastos, puentes grúas y sistemas de electrificación, utilizando softwares de última generación garantizando la seguridad y confiabilidad de nuestros diseños.
      <br><br>
      En <b>COLCRANES S.A.S</b> ofrecemos soluciones a la medida de sus necesidades, que le permiten a nuestros clientes enfrentar el desarrollo económico de cara a la industria con equipos para manejo de materiales de última generación. Alianzas como las que hoy día tenemos con <b>CONDUCTIX, R&M MATERIALS HANDLING INC, CHENG DAY MACHINERY WORKS CO. Y DG CRANES.</b> líderes en la fabricación mundial de equipos de elevación nos permiten brindar a nuestros clientes los últimos desarrollos tecnológicos en materia de puente grúas y polipastos.
      <br><br>
      En <b>COLCRANES S.A.S</b> buscamos establecer estándares muy altos y nos esforzamos por ofrecer la mejor calidad posible ajustándonos a la necesidad de nuestro cliente, desde el cálculo, diseño de análisis, la producción y el servicio al cliente.
      <br><br>
      Nuestros cuatro Pilares:
      <br>
      <b>SERVICIO AL CLINETE</b> - INGENIERIA - PRODUCION - MONTAJES
    </p>
  </div>
<!--   <div class="about-wrapper">
    <h6>Equipo</h6>
    <p>Ofrecemos soluciones que le permiten a nuestros clientes enfrentar el desarrollo económico de cara a la industria con equipos para manejo de cargas de última generación. Alianzas como las que hoy día tenemos con CHENG DAY y R&M MATERIALS HANDLING INC. líder en la fabricación mundial de equipos de elevación nos permiten brindar a nuestros clientes los últimos desarrollos tecnológicos en materia de grúas.</p>
  </div> -->
</div>

<div class="ticker-wrap">
  <div class="ticker">
    <span><%= image_tag 'eilon-engineering.png', class: "ticker__item" %></span>
    <span><%= image_tag 'r-and-m.png', class: "ticker__item" %></span>
    <span><%= image_tag 'black-bear.png', class: "ticker__item" %></span>
    <span><%= image_tag 'conductix.png', class: "ticker__item" %></span>
    <span><%= image_tag 'eilon-engineering.png', class: "ticker__item" %></span>
    <span><%= image_tag 'r-and-m.png', class: "ticker__item" %></span>
    <span><%= image_tag 'black-bear.png', class: "ticker__item" %></span>
    <span><%= image_tag 'conductix.png', class: "ticker__item" %></span>
    <span><%= image_tag 'eilon-engineering.png', class: "ticker__item" %></span>
    <span><%= image_tag 'r-and-m.png', class: "ticker__item" %></span>
    <span><%= image_tag 'black-bear.png', class: "ticker__item" %></span>
    <span><%= image_tag 'conductix.png', class: "ticker__item" %></span>
    <span><%= image_tag 'eilon-engineering.png', class: "ticker__item" %></span>
    <span><%= image_tag 'r-and-m.png', class: "ticker__item" %></span>
    <span><%= image_tag 'black-bear.png', class: "ticker__item" %></span>
    <span><%= image_tag 'conductix.png', class: "ticker__item" %></span>
    <span><%= image_tag 'eilon-engineering.png', class: "ticker__item" %></span>
    <span><%= image_tag 'r-and-m.png', class: "ticker__item" %></span>
    <span><%= image_tag 'black-bear.png', class: "ticker__item" %></span>
    <span><%= image_tag 'conductix.png', class: "ticker__item" %></span>
  </div>
</div>
