<div class="home-banner">
  <div class="home-banner-content">
    <div style="width: 100%;">
      <h1>SIRVIENDO A</h1>
      <h1>COLOMBIA</h1>
      <hr>
    </div>
    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</p>
    <%= link_to 'CONTACTAR', contacts_path, class: "home-banner-button" %>
  </div>
</div>
<div class="container">
  <div class="text-section">
    <div class="text-section-text">
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</p>
    </div>
  </div>
  <div class="credentials-section">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-3">
        <div class="each-credential">
          <div class="yellow-circle">
            <%= image_tag 'certifiacon.png', class: "yellow-circle-icon" %>
          </div>
          <div class="credential-title">
            <h6>CERTIFIACON ISO 9001</h6>
          </div>
          <div class="credential-text">
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-3">
        <div class="each-credential">
          <div class="yellow-circle">
            <%= image_tag 'cubrimiento-nacional.png', class: "yellow-circle-icon" %>
          </div>
          <div class="credential-title">
            <h6>CUBRIMIENTO NACIONAL</h6>
          </div>
          <div class="credential-text">
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-3">
        <div class="each-credential">
          <div class="yellow-circle">
            <%= image_tag 'garantia-americana.png', class: "yellow-circle-icon" %>
          </div>
          <div class="credential-title">
            <h6>GARANTIA AMERICANA</h6>
          </div>
          <div class="credential-text">
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-3">
        <div class="each-credential">
          <div class="yellow-circle">
            <%= image_tag 'mantenimiento-anual.png', class: "yellow-circle-icon" %>
          </div>
          <div class="credential-title">
            <h6>MANTENIMIENTO ANUAL</h6>
          </div>
          <div class="credential-text">
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= image_tag 'colcranes-line-break.png', class: "colcranes-line-break" %>
  <div class="recent-works-container">
    <h5 class="home-title">TRABOJOS RECIENTES</h5>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-4 recent-works-image">
        <%= image_tag 'recent-works-1.png' %>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4 recent-works-image">
        <%= image_tag 'recent-works-2.png' %>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4 recent-works-image">
        <%= image_tag 'recent-works-3.png' %>
      </div>
    </div>
  </div>
  <hr class="colcranes-line-break">
  <div class="home-products-container">
    <div class="home-products-content">
      <h5 class="home-title">PRODUCTOS</h5>
      <p class="home-products-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</p>
      <%= link_to 'Todos los Productos', products_path, class: "home-products-link" %>
    </div>
    <%= image_tag 'home-products-crane.png' %>
  </div>
  <%= image_tag 'colcranes-line-break.png', class: "colcranes-line-break" %>
  <div class="home-services-container">
    <%= image_tag 'home-services-man.png' %>
    <div class="home-services-content">
      <h5 class="home-title">SERVICIOS</h5>
      <p class="home-services-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</p>
      <%= link_to 'Todos los Servicios', services_path, class: "home-services-link" %>
    </div>
  </div>
  <hr class="colcranes-line-break">
  <div class="home-facts-main-container">
    <div class="row">
      <div class="col-xs-12 col-lg-4">
        <div class="home-facts-container">
          <div class="home-facts-content">
            <p style="color: #454647; margin: 0;">Gruas</p>
            <h6 style="color: #454647;">26</h6>
            <p style="text-align: justify;">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.</p>
            <hr class="home-facts-line-break">
            <p style="color: #454647;">contactanos</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-4">
        <div class="home-facts-container">
          <div class="home-facts-content">
            <p style="color: #454647; margin: 0;">Gruas</p>
            <h6 style="color: #454647;">26</h6>
            <p style="text-align: justify;">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.</p>
            <hr class="home-facts-line-break">
            <p style="color: #454647;">contactanos</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-4">
        <div class="home-facts-container">
          <div class="home-facts-content">
            <p style="color: #454647; margin: 0;">Gruas</p>
            <h6 style="color: #454647;">26</h6>
            <p style="text-align: justify;">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.</p>
            <hr class="home-facts-line-break">
            <p style="color: #454647;">contactanos</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
