<div class="services-banner" style="background-image: url('<%= asset_url 'squares-banner.png' %>')">
  <div class="container">
    <div class="service-banner-text">
      <h1>Productos</h1>
      <p>Descargue nuestro catálogo para ver toda la gama de nuestro producto..</p>
      <%= link_to 'DESCARGAR CATALOGO', download_pdf_path, class: "products-banner-button" %>
    </div>
    <%= image_tag 'hanging-crane.png', class: "hanging-crane" %>
  </div>
</div>
<div class="container">
  <div class="product-cards-container">
    <h6 class="products-main-title">Puente gruas</h6>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="product-card margin-bottom">
          <div class="product-card-image-container">
            <%= image_tag 'products-image.jpg', class: "product-card-image" %>
          </div>
          <div class="product-info">
            <h6 class="product-info-title">Puente grua Monorriel</h6>
            <p class="product-info-text">aquí un texto que hablará sobre la subcategoría y lo que sea que diga. Me parece que no es tan largo ni tan corto. Basta con que se le explique lo que hace la subcategoría.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="product-card margin-bottom">
          <div class="product-card-image-container">
            <%= image_tag 'products-image.jpg', class: "product-card-image" %>
          </div>
          <div class="product-info">
            <h6 class="product-info-title">Puente grua Birriel</h6>
            <p class="product-info-text">aquí un texto que hablará sobre la subcategoría y lo que sea que diga. Me parece que no es tan largo ni tan corto. Basta con que se le explique lo que hace la subcategoría.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="product-card margin-bottom">
          <div class="product-card-image-container">
            <%= image_tag 'products-image.jpg', class: "product-card-image" %>
          </div>
          <div class="product-info">
            <h6 class="product-info-title">Puente grua de carro abierto</h6>
            <p class="product-info-text">aquí un texto que hablará sobre la subcategoría y lo que sea que diga. Me parece que no es tan largo ni tan corto. Basta con que se le explique lo que hace la subcategoría.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="product-card margin-bottom">
          <div class="product-card-image-container">
            <%= image_tag 'products-image.jpg', class: "product-card-image" %>
          </div>
          <div class="product-info">
            <h6 class="product-info-title">Gruas Portico</h6>
            <p class="product-info-text">aquí un texto que hablará sobre la subcategoría y lo que sea que diga. Me parece que no es tan largo ni tan corto. Basta con que se le explique lo que hace la subcategoría.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="product-card margin-bottom">
          <div class="product-card-image-container">
            <%= image_tag 'products-image.jpg', class: "product-card-image" %>
          </div>
          <div class="product-info">
            <h6 class="product-info-title">Semi Porticos</h6>
            <p class="product-info-text">aquí un texto que hablará sobre la subcategoría y lo que sea que diga. Me parece que no es tan largo ni tan corto. Basta con que se le explique lo que hace la subcategoría.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="product-card margin-bottom">
          <div class="product-card-image-container">
            <%= image_tag 'products-image.jpg', class: "product-card-image" %>
          </div>
          <div class="product-info">
            <h6 class="product-info-title">Jib cranes o gruas bandera</h6>
            <p class="product-info-text">aquí un texto que hablará sobre la subcategoría y lo que sea que diga. Me parece que no es tan largo ni tan corto. Basta con que se le explique lo que hace la subcategoría.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="product-card margin-bottom">
          <div class="product-card-image-container">
            <%= image_tag 'products-image.jpg', class: "product-card-image" %>
          </div>
          <div class="product-info">
            <h6 class="product-info-title">Gruas ligeras</h6>
            <p class="product-info-text">aquí un texto que hablará sobre la subcategoría y lo que sea que diga. Me parece que no es tan largo ni tan corto. Basta con que se le explique lo que hace la subcategoría.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-cards-container">
    <h6 class="products-main-title">Puente gruas</h6>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="product-card margin-bottom">
          <div class="product-card-image-container">
            <%= image_tag 'products-image.jpg', class: "product-card-image" %>
          </div>
          <div class="product-info">
            <h6 class="product-info-title">Porticos Manuales</h6>
            <p class="product-info-text">aquí un texto que hablará sobre la subcategoría y lo que sea que diga. Me parece que no es tan largo ni tan corto. Basta con que se le explique lo que hace la subcategoría.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="product-card margin-bottom">
          <div class="product-card-image-container">
            <%= image_tag 'products-image.jpg', class: "product-card-image" %>
          </div>
          <div class="product-info">
            <h6 class="product-info-title">Polipastos de Cable Electricos</h6>
            <p class="product-info-text">aquí un texto que hablará sobre la subcategoría y lo que sea que diga. Me parece que no es tan largo ni tan corto. Basta con que se le explique lo que hace la subcategoría.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="product-card margin-bottom">
          <div class="product-card-image-container">
            <%= image_tag 'products-image.jpg', class: "product-card-image" %>
          </div>
          <div class="product-info">
            <h6 class="product-info-title">Polipastos de Cable Electricos</h6>
            <p class="product-info-text">aquí un texto que hablará sobre la subcategoría y lo que sea que diga. Me parece que no es tan largo ni tan corto. Basta con que se le explique lo que hace la subcategoría.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="product-card margin-bottom">
          <div class="product-card-image-container">
            <%= image_tag 'products-image.jpg', class: "product-card-image" %>
          </div>
          <div class="product-info">
            <h6 class="product-info-title">Polipastos de Cadena manual</h6>
            <p class="product-info-text">aquí un texto que hablará sobre la subcategoría y lo que sea que diga. Me parece que no es tan largo ni tan corto. Basta con que se le explique lo que hace la subcategoría.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
